/* Variables de color */
:root {
    --azul-oscuro: #1a2b4e; /* Azul oscuro para fondos */
    --azul-claro: #dfe9f3; /* Azul casi blanco para textos */
    --azul-resaltado: #a1c9f4; /* Azul resaltado para hover y elementos destacados */
    --blanco: #fff; /* Blanco puro para contrastes */
}

/* Estilos responsivos */
/* Estilos responsivos */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        right: 0;
        left: 0; /* Asegúrate de que el menú se estire de un lado al otro */
        background: var(--azul-oscuro);
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
        top: 130%; 
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        z-index: 10; /* Mantener por encima del hero */
        padding: 0; /* Asegúrate de que no haya padding que afecte el ancho */
        margin: 0; /* Elimina márgenes que puedan reducir el ancho */
    }

    nav ul.show {
        max-height: 500px; /* Ajusta esto según sea necesario */
    }
    /* Más espacio al primer elemento del menú */
    nav ul li:first-child {
        margin-top: 20px; /* Espacio entre el icono del menú y el primer elemento */
    }

    /* Más espacio al último elemento del menú */
    nav ul li:last-child {
        margin-bottom: 20px; /* Espacio tras el último elemento */
    }
    .menu-toggle {
        display: flex;
        z-index: 11; /* Asegúrate de que el botón también esté por encima */
    }
}

.hero {
    position: relative;
    height: 50vh;
    background-image: url('../assets/violeta-hero.jpg'); /* Cambia esta ruta a la imagen real */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: var(--blanco);
    align-items: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5rem;
}

/*Zona Mapa */
.mapa-fans {
    background-color: var(--azul-claro);
    padding: 50px 20px;
    text-align: center;
}

.mapa-fans h2{
    font-size: 2rem;
    color: var(--azul-oscuro);
    margin-bottom: 40px; /* Aumentamos el espacio con las noticias */
    text-transform: uppercase; /* Cambiado a mayúsculas */
}

.mapa-fans h3 {
    font-size: 1.5rem;
    color: var(--azul-oscuro);
    margin-bottom: 20px;
    text-decoration: none; /* Quitamos el subrayado */
}

.mapa-container {
    margin-bottom: 50px;
    justify-content: center;
}

.mapa-fans p {
    font-size: 1rem;
    color: var(--azul-oscuro);
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none; /* Quitamos el subrayado */
}

/* Estilo del contenedor del mapa */
#mapa-fans {
    height: 500px; /* Define una altura para el contenedor */
    width: 100%;
    margin: 0 auto; /* Centramos el mapa */
    border-radius: 10px;
    border: 0.255px solid var(--azul-oscuro);
}

/* Estilo para el formulario */
.modal-content-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.modal-content-map label {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}

/* Estilos para todos los campos de texto */
.modal-content-map select,
.modal-content-map input,
.modal-content-map textarea {
    width: calc(100% - 20px); /* Mantener espacio para el padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--azul-oscuro);
    background-color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}

/* Estilo uniforme para los placeholders */
::placeholder {
    color: var(--azul-oscuro);
    opacity: 0.6;
    font-size: 1rem;
}

/* Estilo del enlace "Encuentra tus coordenadas aquí" */
.modal-content-map a {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Usar el color de texto por defecto */
}

/* Ajustes visuales del formulario */
.modal-content-map {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.modal-content-map label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--azul-oscuro);
}

.modal-content-map input,
.modal-content-map textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 0.9rem;
}

.modal-content-map #latitud-longitud {
    display: flex;
    justify-content: space-between;
}

.modal-content-map #latitud,
.modal-content-map #longitud {
    width: 48%; /* Ancho reducido para estar en una misma línea */
}

/* 
Estilo para la X de cerrar */
.close-map {
    font-size: 2rem; /* Aumenta el tamaño */
    color: var(--azul-oscuro); /* Cambia el color a azul oscuro */
}

.close-map:hover {
    color: var(--azul-resaltado); /* Cambia a un azul más claro al pasar el ratón */
}
/* Ajustes para el layout del formulario en dispositivos móviles */
@media (max-width: 600px) {
    .modal-content-map #latitud,
    .modal-content-map #longitud {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        margin-right: 0;
    }
}

/*Listas playlist*/
.playlists {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}

.playlists h2{
    font-size: 2rem;
    color: var(--blanco);
    margin-bottom: 40px; /* Espacio entre el título y los reproductores */
    text-transform: uppercase; /* Título en mayúsculas */
}

.playlist-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px; /* Espacio entre el reproductor de Spotify y el de YouTube */
    flex-wrap: wrap;
}

.playlist-container iframe {
    border-radius: 12px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .playlist-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para tabletas */
    }
}

@media (max-width: 768px) {
    .playlist-container {
        grid-template-columns: 1fr; /* Una columna en móviles */
    }
}

/*Concursos*/
.concursos {
    background-color: var(--azul-claro);
    padding: 50px 20px;
    text-align: center;
}

.concursos h2 {
    font-size: 2rem;
    color: var(--azul-oscuro);
    margin-bottom: 40px; /* Aumentamos el espacio con las noticias */
    text-transform: uppercase; /* Cambiado a mayúsculas */
}

.concursos-container {
    display: flex;
    justify-content: center; /* Centra los recuadros horizontalmente */
    gap: 30px; /* Espaciado entre los recuadros */
    margin-top: 20px; /* Espaciado superior para la sección */
}

.concurso {
    background-color: var(--azul-claro); /* Color de fondo igual al de la sección */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    flex: 1; /* Para que los recuadros ocupen el mismo espacio */
    max-width: 500px; /* Ancho máximo para los recuadros */
}

.concursos h3 {
    margin: 15px 0;
    font-size: 1.5rem; /* Aumentar el tamaño de fuente */
    text-decoration: none; /* Quitamos el subrayado */
    color: var(--azul-oscuro);
}

.concursos h4 {
    margin: 15px 0;
    font-size: 1.2rem; /* Aumentar el tamaño de fuente */
    text-decoration: none; /* Quitamos el subrayado */
    color: #546a96
}
.concursos p {
    font-size: 1rem;
    color: var(--azul-oscuro);
    margin-bottom: 20px; /* Aumentar el margen inferior */
}

.cta-button {
    display: inline-block; /* Asegura que el botón sea un bloque */
    margin-bottom: 10px; /* Margen inferior para el botón */
}

/* Responsivo */
@media (max-width: 768px) {
    .concursos-container {
        flex-direction: column; /* Cambiar a columna en dispositivos más pequeños */
        align-items: center; /* Centra los recuadros en dispositivos pequeños */
    }
}

/*Fan Art*/
.fan-art {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}

.fan-art h2 {
    font-size: 2rem;
    color: var(--blanco);
    margin-bottom: 40px; /* Espacio entre el título y los reproductores */
    text-transform: uppercase; /* Título en mayúsculas */
}

.fan-art h3 {
    font-size: 1.5rem;
    color: var(--blanco);
    margin-bottom: 20px;
    text-decoration: none; /* Quitamos el subrayado */
}

.fan-art p {
    font-size: 1rem;
    color: var(--blanco);
    margin-bottom: 20px;
    text-decoration: none; /* Quitamos el subrayado */
}

.fan-art-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fan-art-item {
    width: 200px;
}

.fan-art-item img {
    width: 100%;
    border-radius: 8px;
}

.fan-art-item p {
    margin-top: 10px;
    color: var(--gris-oscuro);
}
/* Estilo para el formulario */
.modal-content-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.modal-content-art label {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}

/* Estilos para todos los campos de texto */
.modal-content-art select,
.modal-content-art input,
.modal-content-art textarea {
    width: calc(100% - 20px); /* Mantener espacio para el padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--azul-oscuro);
    background-color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}

/* Estilo uniforme para los placeholders */
::placeholder {
    color: var(--azul-oscuro);
    opacity: 0.6;
    font-size: 1rem;
}

/* Estilo del enlace "Encuentra tus coordenadas aquí" */
.modal-content-art a {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Usar el color de texto por defecto */
}

/* Ajustes visuales del formulario */
.modal-content-art {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.modal-content-art label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--blanco);
}

.modal-content-art input,
.modal-content-art textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 0.9rem;
}

/* 
Estilo para la X de cerrar */
.close-art {
    font-size: 2rem; /* Aumenta el tamaño */
    color: var(--azul-claro); /* Cambia el color a azul oscuro */
}

.close-art:hover {
    color: var(--azul-resaltado); /* Cambia a un azul más claro al pasar el ratón */
}

/* Redes cuenta oficiales */
.zona-fan-twitter {
    background-color: var(--azul-claro);
    padding: 50px 20px;
    text-align: center;
}

.zona-fan-twitter h2 {
    font-size: 2rem;
    color: var(--azul-oscuro);
    margin-bottom: 40px; /* Espacio entre el título y los reproductores */
    text-transform: uppercase; 
}

.zona-fan-twitter h3 {
    margin: 15px 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-decoration: none; /* Quitamos el subrayado */
    color: var(--azul-oscuro); /* Espacio entre el subtítulo y las cuentas */
}

.twitter-accounts {
    display: flex;
    flex-direction: column; /* Coloca las cuentas en columna */
    align-items: center; /* Centra las cuentas */
}

.twitter-account {
    background-color: var(--blanco);
    color: var(--azul-oscuro);
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem; /* Tamaño de la fuente */
    margin: 20px 0; /* Espacio entre las cuentas */
    transition: background-color 0.3s; /* Transición suave al hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.twitter-account:hover {
    background-color: var(--azul-oscuro); /* Cambio de fondo al pasar el mouse */
    color: var(--blanco); /* Cambia el color del texto */
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .twitter-accounts {
        flex-direction: row; /* En pantallas grandes, coloca las cuentas en fila */
        justify-content: center; /* Centra las cuentas */
    }
    .twitter-account {
        margin: 0 15px; /* Espacio horizontal entre las cuentas */
    }
}

